/* .App {
 height:100vh;
 background:rgb(95'167'190); */
/* } */
.img {
  border-color: rgb(54, 54, 160);
  display: block;
  padding: 1%;
  width: 40%;
  height: 50%;
  border-radius: 50px;
  object-fit: cover;
}
.column1 {
  float: left;
  width: 35%;
}
.column2 {
  float: right;
  width: 60%;
}
.center {
  display: block;
  margin-left: 20%;
  margin-right: 30%;
  margin-top: 2%;
}

h1 {
  font-size: 40px !important;
  float: left;
}
h2 {
  font-size: 30px !important;
  color: rgb(26, 26, 180);
}
h3 {
  font-size: 20px !important;
}

html {
  border-style: solid;
  border-color: rgb(2, 11, 27);
  border: width 3px 4px;
  padding: 3%;
  margin: 50px;
}
