.App {
 height:100vh;
 background:rgb(95'167'190);
}
.img border{
  color: rgb(20, 76, 197); 
 }
.column1{
    float: left;
    width: 35%;
}
.column2{
   float: right;
   width: 60%; 
}
.center {
  display: block;
  margin-left: 20%;
  margin-right: 30%;
  margin-top: 2%;
  
}

h1{font-size:40px;float:left;}
p2{font-size:30px; color: blue;}
p{font-size:20px;}
img{width:160px;height:180px;/*shape-image-threshold:circle*/;}
h3{font-size:20px;}

html{
  border-style: solid;
  border-color: rgb(2, 11, 27); 
  border: width 2px 4px;
  padding: 1%;
}
/*how to take space between words
span {
  padding-bottom:1em;
}*/

